button {
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


/* Full-width input fields */
input[type=text], input[type=password], [type=date], input[type=email] {
  width: 30%;
  padding: 10px;
  margin: 4px 0 4px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type="number"] {
    width: 30%;
    padding: 10px;
    margin: 4px 0 4px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin: 4px 0 4px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

  } */



  #qualification{
    font-size: 17px;
    box-sizing: border-box;
    width: 30%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;

    background: rgb(255, 255, 255);
    outline: none;
}


label{
    align-self: center;
    font-size: 20px;
    box-sizing: border-box;
    margin: 4px 0 4px 0;
    width: 30%;
    height: 34px;
    color: #333333;
    text-align: left;
    background: rgb(255, 255, 255);
    outline: none;
}

